go 1.24.3

use (
	.
	./apps/cli
	./apps/mcp-server-go
	./libs/benchmarks-go
	./libs/core-models-go
	./libs/gds-go
	./libs/indexer-go
	./libs/inference-go
	./libs/intelligence-go
	./libs/neo4j-go
	./libs/query-go
	./libs/schema-go
	./libs/search-go
	./libs/text-index-client-go
)
